* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

body {
  text-align: center; }

.footer1 {
  position: absolute;
  width: 100%;
  bottom: 0px;
}


ul.footer {
  text-align: left;
  background-color: #c2c500;
  border-radius: 10px; }

a {
  color: #ff9900;
  font-weight: bold;
  text-decoration: none; }

/* header */
header {
  box-shadow: 0 0 15px rgba(255, 166, 0, 0.6);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .banner {
  display: flex;
  display: grid;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0 15px rgba(255, 166, 0, 0.6);
  align-items: center; }

main .flexsearch {
  display: flex;
  justify-content: right;
  margin-right: 80px; }

section.productos {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }

section.Categorias {
  display: flex;
  padding: 2rem;
  padding-bottom: 0rem; }

article.item {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(194, 197, 0, 0.6);
  height: 150px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in; }

article.item1 {
  background-color: #c2c500;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(255, 166, 0, 0.6);
  height: 30px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in; }

article.item:hover {
  box-shadow: 5px 5px 15px rgba(255, 166, 0, 0.6);
  color: #ffa600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); }

h3 {
  color: white;
  text-shadow: 2px 2px 5px #ff9100; }

html, body {
  margin: 0;
  padding: 0; }

section, ul.viasContacto {
  margin-top: -15px;
  padding: 01rem; }

h1 {
  padding-bottom: 25px; }

/* barra navegacion superior */
#nav li:hover > ul {
  display: block; }

div.flexsearch {
  display: flex;
  justify-content: flex-end; }

nav.superior {
  padding: 1px; }

#menu {
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  background: #c2c500;
  background: -webkit-linear-gradient(#ff9100, #c2c500);
  -moz-border-radius: 0px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 1px #ffffff;
  -webkit-box-shadow: 0 2px 1px #ffffff;
  box-shadow: 0 2px 1px #fff4f4; }

#menu li {
  float: left;
  padding: 0 0 10px 0;
  position: relative; }

#menu a {
  float: left;
  height: 15px;
  padding: 0 25px;
  color: white;
  text-transform: uppercase;
  font: bold 15px/22px  Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000; }

#menu li:hover > a {
  color: #ff8800; }

#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; }

#menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

  div.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto auto auto;
    justify-content: space-between;
  }

/* grid nuestras tiendas */
.grid-layoutNT {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center; }

.mapa {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 4px solid black;
  background-color: #c2c500; }

.dondeEstamos {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 4px solid black;
  background-color: #c2c500; }

.descripcion {
  border: 4px solid black;
  background-color: #c2c500;
  text-align: center;
  line-height: 50px;
  grid-column: 1/4; }

section.Categorias {
  display: flexbox;
  flex-direction: column;
  padding: 1px;
  padding-top: 2rem; }

section.productos {
  display: flexbox;
  flex-direction: column;
  padding: 1px; }

/* Media Queries */
@media all and (max-width: 1240px) {
  div.gridContainer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto auto auto;
    padding: auto;
    justify-content: space-evenly;
    align-items: center; } }

@media all and (max-width: 932px) {
  div.gridContainer {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: auto auto;
    padding: auto;
    justify-content: space-evenly;
    align-items: center; } }

@media all and (max-width: 765px) {
  div.gridContainer {
    display: grid;
    display: flex;
    columns: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    flex-direction: column;
    padding: auto;
    justify-content: space-evenly;
    align-items: center; } }

@media all and (max-width: 1280px) {
  main.containerproducto , section.fotoproducto {
        display: grid;
        display: flex;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        flex-direction: column;
        padding: auto;
        justify-content: space-evenly;
        align-items: center;;}
    }

header {
  border-color: #ff9100; }

h6 {
  color: var(--bs-gray800); }

  .containerproducto {
    margin: 15px;
    background-color: hsla(61, 100%, 39%, 0.5);
    display: grid;
    grid-template-rows: 0 100%;
    grid-template-columns: 25% 75%;
    font-family: sans-serif;
    font-size: 30px;

  }
  .fotoproducto {
    border-radius: 10%;
    margin-top: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .propiedades {
    margin-bottom: 12px;
    margin-right: 10px;
    border-radius: 6%;
    margin-top: 30px;
    background-color: hsla(34, 100%, 50%, 0.5);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: center;
  }
